body
{
	background-color : SlateGrey;
  text-align: justify;
  text-justify: inter-word;
}


h2{
	color: grey;
}

a{
	color: SlateGrey;
}

div.container {
  width:100;
  display: flex; 
  justify-content: center;
  margin: 3px;
}

.img-circle{
  box-sizing:border-box;
  float:left;
  width: 12%; /* 12% */
  height: 15%;
  border-radius: 50%;
  margin: 1%;
}

.img-article{
  width:20%;
  border-radius: 40%;
  margin-right: 2%;
}

div.containerintro {
  width:100;
  background-color: LightGrey;
  display: flex; 
  justify-content: center;
  margin: 0 5% 0;
  text-align: left;
}

.boxleft {
	margin-left: 5%;
  width: 55%;
  display: inline-block;
  vertical-align: top;
  float: left;
}

.boxright {
  margin-right: 5%;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  float: right;
}

div.intro {
  background-color: LightGrey;
  box-sizing:border-box;
  text-align: justify;
  text-justify: inter-word;
  width:40%;
  float:left;
  margin-right: 150px;
}

div.presentation {
  background-color: LightGrey;
  text-align: justify;
  text-justify: inter-word;
  box-sizing:border-box;
  float:center;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 10px;
}

div.workexperience{
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 10px;
}

img{
  width:25px;
}

div.social{
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: justify;
  text-justify: inter-word; 
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 10px;
}

div.publication{
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 10px;
}

div.adresse {
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 80%;
}

div.education {
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
}

div.competences {
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10px;
  li li {
    margin-top: 50px; /* Adjust the value to control the spacing between main categories and subcategories */
    margin: 0px;
    padding: 0;
  }
  li > ul {
    margin-top: -5px !important;
  }
  li > ul > li {
    margin-top: -3px !important;
  }
}

div.languages {
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10px;
}

div.titre{
  font-size: 110%;	
}

div.info{
  font-size: 90%;
  color: grey;	
}

div.lieu{
  font-family:  Arial, Helvetica ;
  color: grey;
  font-size: 90%;
}

div.description{
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica;
  font-size: 90%;
}

#copy-for-llm {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#copy-for-llm:hover {
    background-color: #2980b9;
}

.main-nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: LightGrey;
    padding: 10px;
    z-index: 1000;
    text-align: center; /* Center the links */
}

div.projects {
  background-color: #fff;
  box-sizing:border-box;
  float:center;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  padding: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.2s ease;
}

div.projects:hover {
  transform: translateY(-2px);
}

.project-item {
    margin-bottom: 2rem;
}

.project-item h3 {
    margin-bottom: 0.5rem;
}

.project-item p {
    margin-bottom: 1rem;
}