body
{
	background-color : palegreen;
	text-align: center
}

div.container {
  width:100;
  /*border:1em solid green;
  background-color: lightblue;*/
  display: flex; 
  justify-content: center;
  margin: 30px;
}

.img-circle{
  box-sizing:border-box;
  width:20%;
  float:left;
  border-radius: 50%;
  margin: 1%;
}

div.split {
  box-sizing:border-box;
  width:40%;
  float:left;
  background-color: white;
  /*margin-left: 150;*/
  margin-right: 3%;
}

div.splitright {
  box-sizing:border-box;
  width:25%;
  height: 50%;
  background-color: white;
  float:right;
  text-align: left;
  margin-right: 50px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}