body
{
  background-color : palegreen;
  text-align: center;
  font-size: 80%; 
}

h1{
  font-size: 180%;
}

h2{
  color: grey;
  font-size: 120%;
}

a{
  color: green;
}

div.container {
  width:100;
  display: flex; 
  justify-content: center;
  margin: 20px;
}

.img-circle{
  box-sizing:border-box;
  float:left;
  width: 12%;
  border-radius: 50%;
  margin: 1%;
}

div.containerintro {
  width:100;
  background-color: white;
  display: flex; 
  justify-content: center;
  margin: 0 2% 0;
  text-align: left;
}

.boxleft {
  margin-left: 3%;
  width: 60%;
  display: inline-block;
  vertical-align: top;
  float: left;
}

.boxright {
  margin-right: 3%;
  width: 28%;
  display: inline-block;
  vertical-align: top;
  float: right;
}

div.intro {
  box-sizing:border-box;
  width:40%;
  float:left;
  margin-right: 100px;
}

div.presentation {
  box-sizing:border-box;
  float:center;
  text-align: left;
  background-color: white;
  margin-right: 30px;
  margin-bottom: 30px; 
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 5px;
  font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}

div.workexperience{
  box-sizing:border-box;
  float:center;
  text-align: left;
  background-color: white;
  margin-right: 30px;
  margin-bottom: 30px; 
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 5px;
}

div.social{
  box-sizing:border-box;
  float:center;
  text-align: left;
  background-color: white;
  margin-right: 30px;
  margin-bottom: 30px; 
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 5px;
}

div.publication{
  box-sizing:border-box;
  float:center;
  text-align: left;
  background-color: white;
  margin-right: 30px;
  margin-bottom: 30px; 
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 5px;
}

div.adresse {
  box-sizing:border-box;
  background-color: white;
  float:center;
  text-align: left;
  margin-right: 30px;
  margin-bottom: 30px; 
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 70%;
}

div.education {
  box-sizing:border-box;
  background-color: white;
  float:center;
  text-align: left;
  margin-right: 30px;
  margin-bottom: 30px; 
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  font-size: 80%;
}

div.competences {
  box-sizing:border-box;
  background-color: white;
  float:center;
  text-align: left;
  margin-right: 30px;
  margin-bottom: 30px; 
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

div.languages {
  box-sizing:border-box;
  background-color: white;
  float:center;
  text-align: left;
  margin-right: 30px;
  margin-bottom: 30px; 
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

div.titre{
  font-size: 90%;  
}

div.info{
  font-size: 80%;
  color: grey;  
}

img{
  width: 18px;
}

div.lieu{
  font-family: Luminari, fantasy;
  color: grey;
  font-size: 85%;
}

div.description{
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: Snell Roundhand, cursive;
  font-size: 80%;
}
