body
{
	background-color : SlateGrey;
  text-align: justify;
  text-justify: inter-word;
}


h2{
	color: grey;
}

a{
	color: SlateGrey;
}

div.container {
  width:100;
  display: flex; 
  justify-content: center;
  margin: 30px;
}

.img-circle{
  box-sizing:border-box;
  float:left;
  width: 12%; /* 12% */
  height: 15%;
  border-radius: 50%;
  margin: 1%;
}

.img-article{
  width:20%;
  border-radius: 40%;
  margin-right: 2%;
}

div.containerintro {
  width:100;
  background-color: LightGrey;
  display: flex; 
  justify-content: center;
  margin: 0 5% 0;
  text-align: left;
}

.boxleft {
	margin-left: 5%;
  width: 40%;
  display: inline-block;
  vertical-align: top;
  float: left;
}

.boxright {
  margin-right: 5%;
  width: 22%;
  display: inline-block;
  vertical-align: top;
  float: right;
}

div.intro {
  background-color: LightGrey;
  box-sizing:border-box;
  text-align: justify;
  text-justify: inter-word;
  width:40%;
  float:left;
  margin-right: 150px;
}

div.presentation {
  background-color: LightGrey;
  text-align: justify;
  text-justify: inter-word;
  box-sizing:border-box;
  float:center;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 10px;
}

div.workexperience{
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 10px;
}

img{
  width:25px;
}

div.social{
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: justify;
  text-justify: inter-word; 
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 10px;
}

div.publication{
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 10px;
}

div.adresse {
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 80%;
}

div.education {
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
}

div.competences {
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10px;
}

div.languages {
  background-color: LightGrey;
  box-sizing:border-box;
  float:center;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 50px;
  margin-bottom: 50px; 
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 10px;
}

div.titre{
  font-size: 110%;	
}

div.info{
  font-size: 90%;
  color: grey;	
}

div.lieu{
  font-family:  Arial, Helvetica ;
  color: grey;
  font-size: 90%;
}

div.description{
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica;
  font-size: 90%;
}
